body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}

p {
  margin: 0;
  padding: 1rem;
}

.nav li {
  list-style-type: none;
  display: inline-block;
}

.nav li a {
  padding: 0.5rem;
  text-decoration: none;
}

.nav li a:hover {
  text-decoration: underline;
}

.hero {
  padding: 2rem 0;
  background: #ee5;
  text-align: center;
}

.content-wrapper {
  background: #ddd;
}

.content-wrapper__inner-container {
  margin: 0 2rem;
  background: white;
}

.content-wrapper__inner-container h2 {
  margin: 0;
  padding: 1rem 1rem 0;
}